Scope: Our project is to uncover data trends among all star MLB pitchers from 2016-2021. We will examine relationships between their strikeout %, ERA (earned run average) , BB (walk)%, in their all star seasons, as well as some of their physical dimensions and place of birth (state if domestic, country if foreign born).

In [62]:
import pandas as pd
import requests
import json

In [59]:
fpath = 'roster_and_stats_merged.csv'
stats_df = pd.read_csv(fpath,index_col=0)

In [60]:
stats_df.head()

   Year      Player Name  Shortname   Age   ERA   ERA+     K%    BB%
0  2019     Shane Bieber  biebesh01  24.0  3.28  147.0  0.302  0.047
1  2019  Aroldis Chapman  chapmar01  31.0  2.21  206.0  0.362  0.106
2  2019      Gerrit Cole   colege01  28.0  2.50  185.0  0.399  0.059
3  2019    Lucas Giolito  giolilu01  24.0  3.41  134.0  0.323  0.081
4  2019     Shane Greene  greensh02  30.0  2.30  207.0  0.254  0.068

In [61]:
stats_df['Player_url'] = stats_df['Player Name'].replace(' ','%25',regex=True)
stats_df.head()

,Year,Player Name,Shortname,Age,ERA,ERA+,K%,BB%,Player_url
0,2019,Shane Bieber,biebesh01,24.0,3.28,147.0,0.302,0.047,Shane%25Bieber
1,2019,Aroldis Chapman,chapmar01,31.0,2.21,206.0,0.362,0.106,Aroldis%25Chapman
2,2019,Gerrit Cole,colege01,28.0,2.50,185.0,0.399,0.059,Gerrit%25Cole
3,2019,Lucas Giolito,giolilu01,24.0,3.41,134.0,0.323,0.081,Lucas%25Giolito
4,2019,Shane Greene,greensh02,30.0,2.30,207.0,0.254,0.068,Shane%25Greene

In [63]:
base_url = 'http://lookup-service-prod.mlb.com/json/named.search_player_all.bam?sport_code='mlb'&active_sw='Y'&name_part='
players = stats_df['Player_url']
response = requests.get(base_url+players[0]).json()
response

SyntaxError: invalid syntax (<ipython-input-63-7cf2aa3cdd66>, line 1)